
* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

body {
    height: 100vh;
    /* min-height: calc(100vh + 100px); */
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

nav.desktop, header {
    height: 360px;
}

nav.desktop {
    float: left;
    width: 300px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style: none;
}

nav.desktop a {
    display: block;
    line-height: 72px;
    font-size: 22px;
    padding: 0 5px 0 30px;
    color: #335305;
    text-decoration: none;
}

nav.desktop i {
    width: 50px;
    border-right: solid #D9E13C 2px;
    margin-right: 30px;
    transition: 0.5s;
}

header {
    background-image: url('../images/firmin0.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: calc(100% - 300px);
}

section h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #335305;
    color: white;
    text-align: center;
    line-height: 80px;
}

nav.desktop a:hover i {
    margin-right: 50px;
    color: #D9E13C;
}

nav.desktop {
    display: block;
}

nav.mobile {
    display: none;
}

#icons {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    padding-right: 10%;
    text-align: center;
}
#icons li {
    list-style: none;
    padding: 10px;
}
#icons .fa-facebook{
    color: blue;
    position: relative;
    bottom: 0;
    transition: all 0.2s ease;
}
#icons .instagram {
    background: -webkit-linear-gradient(yellow, red);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 0.2s ease;
}

#icons .facebook:hover {
    bottom: 5px;
    scale: 1.3;
}

#icons .instagram:hover {
    color: #A833E8;
    bottom: 5px;
    scale: 1.3;
}



div h3.title {
    color: #131633;
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 35px;
    text-align: center;
    text-shadow: none;
}


hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin: 40px auto;
}

#about {
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    text-align: justify;
}

#about #two-col, .two-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#two-col img.horizontal {
    width: 25vw;
    height: 15vw;
    object-fit: cover;
    margin: 10px;
}
#two-col img.vertical {
    display: block;
    width: 15vw;
    height: 25vw;
    object-fit: cover;
    margin: 10px;
    margin: 0 auto;
}


.recommendation {
    width: 65%;
    max-width: 800px;
    line-height: 2;
    margin-left: 20px;
}

.recommendation_images {
    display: flex;
    flex-direction: column;
}

.recommendation p {
    text-indent: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0;
}
.recommendation p + p {
    margin-top: 10px;
}

.signature {
    float: right;
    font-style: italic;
}




.footer {
  background-color: rgba(0, 0, 0, 0.383);
  height: 200px;
  bottom: 0;
  width: 100%;
  clear: both;
}

#footer_img {
    /* background-color: yellow; */
  float: left;
  padding: 20px 5px 20px 20px;
  width: 30vw;
}

#footer_img  img{
  float: right;
  width: 150px;
  height: 150px;
}

#footer_txt {
    /* background-color: green; */
    float: right;
    width: 66vw;
}

#footer_txt p {
  
  color: white;
  text-align: left;
  line-height: 200%;
  margin-top: 30px;
  padding: 50px 0 50px 10px;
}

.footer {
    display: flex;
    flex-direction: row;
  background-color: rgba(22, 34, 60, 0.081);
  height: 100px;
  bottom: 0;
  width: 100%;
  justify-content: center;
        text-align: center;
  
}

.footer img {
    margin: 10px 30px 10px 0;
    height: 80px;
}

.footer > img, .footer > span {
    display: inline-block;
    color: #16223C;
    line-height: 100px;
    justify-content: center;
        text-align: center;
        overflow: hidden;
}

.footer > span {
    font-size: 0.8em;
}




@media (max-width: 1024px) {
    nav.desktop {
        display: none;
    }
    nav.mobile {
        position: fixed;
        display: block;
        width: 48px;
        height: 100%;
        background-color: black;
        color: white;
    }

    nav.mobile a {
        display: block;
        line-height: 72px;
        color: yellowgreen;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

                            
    nav.mobile li:nth-child(1) a {
        color: yellowgreen;
    }
    
    nav.mobile li:nth-child(2) a {
        color: orange;
    }

    nav.mobile li:nth-child(3) a {
        color: red;
    }

    nav.mobile li:nth-child(4) a {
        color: blueviolet;
    }
    
    nav.mobile li:nth-child(5) a {
        color: brown;
    }

    nav.mobile a:hover {
        background-color: #335305;
    }

    header {
        width: 100%;
    }

    section h1 {
        display: block;
        font-size: 20px;
        margin-left: 48px;
    }

    .art {
        margin-left: 70px;
    }

    #about {
        padding-left: 50px;
    }

    .footer {
        height: 150px;
        flex-direction: column;
    }
    .footer img {
        height: 60px;
        margin: 15px 0 20px 0;
    }
    .footer span {
        line-height: 1;
        margin-bottom: 10px;
        text-align: center;
    }
    
}






@media (max-width: 760px) {

    #about #two-col, .two-col {
        flex-direction: column;
    }
    
    #two-col img.horizontal {
        width: 85vw;
        height: 200px;
        object-fit: cover;
        margin: 3px;
    }
    #two-col img.vertical {
        display: none;
    }

    .recommendation {
        width: 85%;
        line-height: 1.3;
    }


    .footer {
        height: 150px;
        flex-direction: column;
        padding-left: 70px;
        width: 100vw;
        text-align: center;
    }
    .footer img {
        height: 50px;
        overflow: hidden;
        line-height: 1;
    }
    .footer span {
        width: 80%;
        line-height: 1;
        margin-bottom: 10px;
    }
}







@media (max-width: 600px) {

    body {
        width: 100vw;
    }

    nav.desktop, header {
        height: 200px;
    }

    #two-col img {
        display: none;
    }

    .art {
        width: 95vw;
        /* margin: 20px 20px 20px 60px; */
    }

    .recommendation {
        width: 100%;
        padding-right: 10px;
        line-height: 1.3;
    }



    .footer {
        /* height: 150px; */
        flex-direction: column;
        padding-left: 70px;
        width: 100vw;
    }
    .footer img {
        height: 50px;
        overflow: hidden;
        line-height: 1;
    }
    .footer span {
        line-height: 1;
        margin-bottom: 10px;
        justify-content: center;
        text-align: center;
    }
}